In [5]:
# Imports all the libraries required
import os
import json
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib.cm as cm
import geopy
from matplotlib.colors import rgb2hex
from descartes import PolygonPatch
from shapely.geometry import Polygon, MultiPolygon
from collections import Counter

In [4]:
df = pd.read_csv('cleaned_data.csv', index_col=0)
df.head()

                                                text  followers_count
0  ['barackobama', 'fbi', 'lorettalynch', 'all', ...              531
1  ['cnn', 'newday', 'clear', 'trump', 'deliberat...             2652
2  ['realdonaldtrump', 'recognize', 'lie', 'came'...              183
3  ['kid', 'know', 'suing', 'someone', 'thats', '...              159
4  ['hillaryclinton', 'cofounder', 'isi', 'crooke...               68

In [7]:
# in the 'user' 'id_string', field, the format is a 9 digit string of numbers which uniquely identifies the tweeter
id_instances = []

# making a list of the userid of each tweet in the dataset
for userid in 'path to dataframe:
    userid = 'df path to userid'
    num_followers = 'df path to number of followers'
    id_instances.append(userid)
    
# All unique ID strings, aka all unique users in the dataset
IDs = Counter(id_instances).keys()
# How many times each ID occurs, aka number of tweets per user.
Tweet_frequency = Counter(id_instances).values()

id_data = pd.DataFrame({'ID': IDs,'frequency': Tweet_frequency})

#followers, in the 'user' 'followers_count' field: checks each tweet until it matches the first unique entry listed
#in the IDs list, then puts that ID together with its followers in a dict. It then searches for the second unique
#user and fetches their followers.

follower_count_dict = {}
x = 0
for id_instance in 'df path to userid':
    if id_instance == IDs[x]:
        follower_count_dict['id_instance'] = 'path to followers'
        x += 1
    else:
        pass
    
# Making a new column mapping the follower count onto the right user:
    
id_data['followers'] = id_data['ID'].map(follower_count_dict)

MO