### How to set-up SentiStrenght?
1. Download data from here, using UvA VPN: http://sentistrength.wlv.ac.uk/index.html
2. UvA VPN you can download from here: https://student.uva.nl/en/content/az/uvavpn/download/download-uvavpn-software.html
3. Check whether you have a JAVA on your computer, it is neccessary to SentiStrenght work! In case not: https://www.java.com/pl/download/
4. Download jar file from here: http://sentistrength.wlv.ac.uk/jkpop/
5. If you want to see sentiment for other languages check that page: https://github.com/bobvdvelde/SentiStrength_for_python and that one: https://github.com/felipebravom/StaticTwitterSent/tree/master/extra/SentiStrength or just google for more :)

test check to see whether it works + set up of the paths

In [1]:
from sentistrength import PySentiStr
senti = PySentiStr()
senti.setSentiStrengthPath('C:/SentStrength_Data/SentiStrength.jar') # Note: Provide absolute path instead of relative path
senti.setSentiStrengthLanguageFolderPath('C:/SentStrength_Data/SentStrengthData') # Note: Provide absolute path instead of relative path
#senti = PySentiStr()

result = senti.getSentiment(['What a nice day',"What a lovely day",'What a bad day, how to live here now', 'Its okay'], score = 'scale')
print(result)

[1, 1, -1, 0]

To check what are the possible options of score in SentiStrenght go there: https://pypi.org/project/sentistrength/

In [2]:
import pandas as pd
from datetime import datetime
from tqdm import tqdm

data = pd.read_csv("cleaned_twitter_data_50000_sample.csv")
data

,Unnamed: 0,initial_index,tweet_created_at,user_created_at,text,user_id,user_name,followers_count,friends_count,user_lang,place_type,place_full_name,place_bounding_box,country,tweet_lang,retweet_count,favorite_count,states,candidate
0,439298,560631,2016-09-08 13:56:16+00:00,Sat May 16 17:31:28 +0000 2009,"['hillaryclinton', 'hit', 'one', 'reporter']",40504632,joey gerdin,542,596,en,city,"Minneapolis, MN","{'type': 'Polygon', 'coordinates': [[[-93.3295...",United States,en,0,0,Minnesota,clinton
1,326531,417258,2016-09-01 09:31:56+00:00,Tue Oct 26 17:08:21 +0000 2010,"['hillaryclinton', 'false', 'said', 'first', '...",208110094,M_Mexico_Great_Again,643,523,en,city,"Ferry Pass, FL","{'type': 'Polygon', 'coordinates': [[[-87.2476...",United States,en,0,0,Florida,clinton
2,313954,400256,2016-08-31 23:16:48+00:00,Wed Dec 14 05:41:00 +0000 2011,"['hillaryclinton', 'blew', 'invitation', 'pres...",436442356,Chris Harms,522,492,en,admin,"Wisconsin, USA","{'type': 'Polygon', 'coordinates': [[[-92.8894...",United States,en,0,0,Wisconsin,clinton
3,450210,573828,2016-09-08 23:21:16+00:00,Mon Aug 08 21:35:38 +0000 2016,"['usaneedstrump', 'hillaryclinton', 'dailycall...",762764227052392449,FrankB,5,72,en,admin,"Pennsylvania, USA","{'type': 'Polygon', 'coordinates': [[[-80.5198...",United States,en,0,0,Pennsylvania,clinton
4,182803,230748,2016-08-23 17:40:01+00:00,Wed Feb 17 16:55:49 +0000 2010,"['trump', 'tempcrab', 'orchard', 'ky', 'f', 'w...",115110145,Carl King,84,18,en,admin,"Kentucky, USA","{'type': 'Polygon', 'coordinates': [[[-89.5715...",United States,en,0,0,Kentucky,trump
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,109611,139329,2016-08-19 00:02:43+00:00,Sat Feb 11 23:08:46 +0000 2012,"['hillaryiscoming', 'ivanroberson', 'kickstart...",489825874,Kal AKA,495,990,en,city,"Los Angeles, CA","{'type': 'Polygon', 'coordinates': [[[-118.668...",United States,en,0,0,California,clinton
49996,224364,282945,2016-08-26 00:43:52+00:00,Fri Mar 05 18:24:11 +0000 2010,"['id', 'like', 'ban', 'trump', 'word', 'harden...",120182490,jenny speier,254,193,en,admin,"Indiana, USA","{'type': 'Polygon', 'coordinates': [[[-88.0978...",United States,en,0,0,Indiana,trump
49997,402684,515797,2016-09-06 18:27:25+00:00,Sat Aug 06 22:45:14 +0000 2011,"['obama', 'clinton', 'created', 'world', 'powe...",349921132,Michael Wilner,10443,661,en,city,"Washington, DC","{'type': 'Polygon', 'coordinates': [[[-77.1194...",United States,en,0,0,Washington,trump
49998,234923,296196,2016-08-26 15:58:23+00:00,Mon Jul 06 02:10:25 +0000 2015,"['hillaryclinton', 'keep', 'america', 'sane', ...",3269554988,cjlamb,1817,1886,en,admin,"Indiana, USA","{'type': 'Polygon', 'coordinates': [[[-88.0978...",United States,en,0,0,Indiana,clinton
49999,508632,646423,2016-09-11 22:33:07+00:00,Fri Apr 03 22:40:51 +0000 2009,"['decline', 'know', 'trying', 'get', 'replace'...",28673900,Kristin Slape,3864,4858,en,city,"Naperville, IL","{'type': 'Polygon', 'coordinates': [[[-88.2595...",United States,en,0,0,Illinois,clinton

Adding tweet text before the cleaning to the sample of our 50k random tweets.

In [9]:
data_before_processing = pd.read_csv('tweets_only_eng_and_US_without_cleaning_2020-09-24.csv')
data_before_processing = data_before_processing.rename(columns = {"text":"initial_tweet_text", "Unnamed: 0":"initial_index"})
data_before_processing

,initial_index,tweet_created_at,user_created_at,initial_tweet_text,user_id,user_name,followers_count,friends_count,user_lang,place_type,place_full_name,place_bounding_box,country,tweet_lang,retweet_count,favorite_count
0,1,2016-08-12 10:04:02+00:00,Thu Oct 15 00:28:04 +0000 2009,@BarackObama \n@FBI\n@LORETTALYNCH \nALL IN CO...,82496193,Red Octopus,531,677,en,city,"Baton Rouge, LA","{'type': 'Polygon', 'coordinates': [[[-91.2189...",United States,en,0,0
1,4,2016-08-12 10:04:30+00:00,Mon Aug 20 09:43:48 +0000 2012,#CNN #newday clear #Trump deliberately throwin...,769208504,Beverly Spence,2652,2976,en,city,"Baltimore, MD","{'type': 'Polygon', 'coordinates': [[[-76.7115...",United States,en,0,0
2,5,2016-08-12 10:04:46+00:00,Tue May 19 03:18:19 +0000 2009,"@realDonaldTrump, you wouldn't recognize a lie...",41043316,"Asa DeMatteo, Ph.D.",183,98,en,city,"Palm Springs, CA","{'type': 'Polygon', 'coordinates': [[[-116.567...",United States,en,0,0
3,7,2016-08-12 10:04:48+00:00,Sun Aug 07 00:57:29 +0000 2016,"""Kid, you know, suing someone? Thats the most ...",762090248159371264,Rafael Alejandro,159,993,en,city,"Secaucus, NJ","{'type': 'Polygon', 'coordinates': [[[-74.0938...",United States,en,0,0
4,8,2016-08-12 10:04:48+00:00,Wed Oct 28 18:34:22 +0000 2009,@HillaryClinton you ARE the co-founder of ISIS...,85879639,tom b,68,268,en,city,"Irving, TX","{'type': 'Polygon', 'coordinates': [[[-97.0341...",United States,en,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
517133,657300,2016-09-12 13:20:28+00:00,Sun Jul 10 16:13:13 +0000 2011,@CNBC @SquawkAlley @realDonaldTrump Kudlow is ...,332888709,Linda Mannes Wildes,2097,2716,en,admin,"Florida, USA","{'type': 'Polygon', 'coordinates': [[[-87.6346...",United States,en,0,0
517134,657302,2016-09-12 13:20:32+00:00,Wed May 02 22:48:50 +0000 2012,"TRUMP U, TAXES ,WEIRD MEDICAL REPORT WITH A WH...",569487350,Sheryl Berghoff,1997,2599,en,city,"San Diego, CA","{'type': 'Polygon', 'coordinates': [[[-117.282...",United States,en,0,0
517135,657303,2016-09-12 13:20:33+00:00,Fri Apr 01 21:42:36 +0000 2016,@CarolCNN if MSM were honest watch any utube v...,716017946166857728,Karen B,756,1229,en,city,"Coral Gables, FL","{'type': 'Polygon', 'coordinates': [[[-80.2971...",United States,en,0,0
517136,657305,2016-09-12 13:20:38+00:00,Wed Jun 10 08:43:55 +0000 2015,It's interesting that Hillary Clinton's crowds...,3241116564,Robert Chaffin,2827,3970,en,city,"Fairbanks, AK","{'type': 'Polygon', 'coordinates': [[[-147.813...",United States,en,0,0
517137,657306,2016-09-12 13:20:48+00:00,Mon May 10 00:49:18 +0000 2010,@TeamTrump @KellyannePolls @realDonaldTrump @f...,142113417,Linda,240,170,en,admin,"Florida, USA","{'type': 'Polygon', 'coordinates': [[[-87.6346...",United States,en,0,0

In [11]:
data_before_processing = data_before_processing[['initial_index','initial_tweet_text']]
data_before_processing = data_before_processing.rename(columns = {"text":"initial_tweet_text"})
data = pd.merge(left=data, right=data_before_processing, how='left', left_on='initial_index', right_on='initial_index')
data.head()

,Unnamed: 0,initial_index,tweet_created_at,user_created_at,text,user_id,user_name,followers_count,friends_count,user_lang,place_type,place_full_name,place_bounding_box,country,tweet_lang,retweet_count,favorite_count,states,candidate,initial_tweet_text
0,439298,560631,2016-09-08 13:56:16+00:00,Sat May 16 17:31:28 +0000 2009,"['hillaryclinton', 'hit', 'one', 'reporter']",40504632,joey gerdin,542,596,en,city,"Minneapolis, MN","{'type': 'Polygon', 'coordinates': [[[-93.3295...",United States,en,0,0,Minnesota,clinton,Did @HillaryClinton just hit on one of the rep...
1,326531,417258,2016-09-01 09:31:56+00:00,Tue Oct 26 17:08:21 +0000 2010,"['hillaryclinton', 'false', 'said', 'first', '...",208110094,M_Mexico_Great_Again,643,523,en,city,"Ferry Pass, FL","{'type': 'Polygon', 'coordinates': [[[-87.2476...",United States,en,0,0,Florida,clinton,@HillaryClinton false. He said first 2 years o...
2,313954,400256,2016-08-31 23:16:48+00:00,Wed Dec 14 05:41:00 +0000 2011,"['hillaryclinton', 'blew', 'invitation', 'pres...",436442356,Chris Harms,522,492,en,admin,"Wisconsin, USA","{'type': 'Polygon', 'coordinates': [[[-92.8894...",United States,en,0,0,Wisconsin,clinton,.@HillaryClinton blew off an invitation by the...
3,450210,573828,2016-09-08 23:21:16+00:00,Mon Aug 08 21:35:38 +0000 2016,"['usaneedstrump', 'hillaryclinton', 'dailycall...",762764227052392449,FrankB,5,72,en,admin,"Pennsylvania, USA","{'type': 'Polygon', 'coordinates': [[[-80.5198...",United States,en,0,0,Pennsylvania,clinton,@USAneedsTRUMP @HillaryClinton @DailyCaller Ha...
4,182803,230748,2016-08-23 17:40:01+00:00,Wed Feb 17 16:55:49 +0000 2010,"['trump', 'tempcrab', 'orchard', 'ky', 'f', 'w...",115110145,Carl King,84,18,en,admin,"Kentucky, USA","{'type': 'Polygon', 'coordinates': [[[-89.5715...",United States,en,0,0,Kentucky,trump,"#Trump in 2016 Temp:Crab Orchard, Ky."":83.1°F ..."

In [12]:
data['initial_tweet_text']

0        Did @HillaryClinton just hit on one of the rep...
1        @HillaryClinton false. He said first 2 years o...
2        .@HillaryClinton blew off an invitation by the...
3        @USAneedsTRUMP @HillaryClinton @DailyCaller Ha...
4        #Trump in 2016 Temp:Crab Orchard, Ky.":83.1°F ...
                               ...
49995    @HillaryIsComing @Ivanroberson #Kickstarter ?#...
49996    I'd like to ban having #trump &amp; the word #...
49997    #Obama and #Clinton "have created what will be...
49998    @HillaryClinton \nKeep America Sane:\nVote Cli...
49999    She is on a decline, they know it, they trying...
Name: initial_tweet_text, Length: 50000, dtype: object

In [15]:
import numpy as np
import pandas as pd
import re
from spellchecker import SpellChecker
from nltk.tokenize import RegexpTokenizer
from nltk.corpus import stopwords
from nltk.stem.wordnet import WordNetLemmatizer
import demoji
from bs4 import BeautifulSoup
#demoji.download_codes()

# Initializes the spell checker, tokenizer and lammatizer.
check = SpellChecker()
tokenizer = RegexpTokenizer(r'\w+')
lemma = WordNetLemmatizer()

# Create a set of stopwords
stop_words = set(stopwords.words('english'))

# Removing html coding
def rm_html(record: str) -> str:
    soup = BeautifulSoup(record, 'html.parser')
    plain = soup.get_text()
    return plain


# A function that extracts which words exist in a text based on a list of words to which we compare.
def word_feats(words):
    return dict([(word, True) for word in words])

In [17]:
from tqdm import tqdm, tqdm_notebook
tqdm_notebook().pandas()

data.loc[:, 'cleaned_for_senti'] = data['initial_tweet_text'].apply(lambda x: re.sub(r'https?://[^\s<>"]+|www\.[^\s<>"]+', "", x))
print("Regex done at:", datetime.now())
data.loc[:, 'cleaned_for_senti'] = data['cleaned_for_senti'].progress_apply(lambda x: rm_html(x))
print("XTML decoding deleted at:", datetime.now())
#data.loc[:, 'normalized'] = data['normalized'].apply(lambda x: rm_newline(x))
#print("Newlines cleaned at:", datetime.now())
data.loc[:, 'cleaned_for_senti'] = data['cleaned_for_senti'].apply(lambda x: re.sub(r'@|#', ' ', x))
print("Hashtags done at:", datetime.now())
data.loc[:, 'cleaned_for_senti'] = data['cleaned_for_senti'].apply(lambda x: re.sub(r'[0-9]+', ' ', x))
print("Numbers replaced at:", datetime.now())
data.loc[:, 'cleaned_for_senti'] = data['cleaned_for_senti'].apply(lambda x: re.sub(r'\_', ' ', x))
print("Numbers replaced at:", datetime.now())
data.loc[:, 'cleaned_for_senti'] = data['cleaned_for_senti'].apply(lambda x: x.rstrip())
print("Whitespaces done at:", datetime.now())

HBox(children=(IntProgress(value=1, bar_style='info', max=1), HTML(value='')))

Regex done at: 2020-09-24 13:38:14.522867

HBox(children=(IntProgress(value=0, max=50000), HTML(value='')))

XTML decoding deleted at: 2020-09-24 13:38:25.667505
Hashtags done at: 2020-09-24 13:38:26.076275
Numbers replaced at: 2020-09-24 13:38:26.480458
Numbers replaced at: 2020-09-24 13:38:26.623544
Whitespaces done at: 2020-09-24 13:38:26.678514

In [ ]:
#data[['initial_index','normalized']].to_csv(r'C:\Users\PC\Desktop\UvA Master\Block 1\FDS\Assignment 1_ Politics (Twitter)\tweets_after_cleaning_with_sentiment.txt', header=True, index=None, sep=' ', mode='a')
print("Start sentiment", datetime.now())
data.loc[:,'sentiment'] = data['cleaned_for_senti'].progress_apply(lambda x: senti.getSentiment(x, score = 'binary'))
print("Sentiment done at:", datetime.now())
data.to_csv('tweets_sample_50k_with_senti_sentiment_20200924.csv')

data

Start sentiment 2020-09-24 13:39:36.745517

HBox(children=(IntProgress(value=0, max=50000), HTML(value='')))

In [14]:
data.loc[:, 'sentiment_decoded'] = data['sentiment'].apply(lambda x: 'pos' if x == [1] else 'neg')
data.head()

,initial_index,text,normalized,sentiment,sentiment_to_naive
0,4,#CNN #newday clear #Trump deliberately throwin...,cnn newday clear trump deliberately throwin...,[1],pos
1,5,"@realDonaldTrump, you wouldn't recognize a lie...",realdonaldtrump wouldnt recognize lie came mo...,[1],pos
2,7,"""Kid, you know, suing someone? Thats the most ...",kid know suing someone thats beautiful thing ...,[1],pos
3,8,@HillaryClinton you ARE the co-founder of ISIS...,hillaryclinton cofounder isis crooked evil ly...,[-1],neg
4,10,@mike4193496 @realDonaldTrump I TOTALLY CONCUR...,mike realdonaldtrump totally concur electio...,[1],pos